In [1]:
import pandas as pd
import re

In [2]:
df1 = pd.read_csv('ranking_output1.csv')
df2 = pd.read_csv('ranking_output2.csv')
df3 = pd.read_csv('ranking_output3.csv')
df4 = pd.read_csv('ranking_output4.csv')
df5 = pd.read_csv('ranking_output5.csv')
df6 = pd.read_csv('ranking_output6.csv')

In [3]:
print(len(df1['URL'].unique()))
print(len(df2['URL'].unique()))
print(len(df3['URL'].unique()))
print(len(df4['URL'].unique()))
print(len(df5['URL'].unique()))
print(len(df6['URL'].unique()))

68310
68306
68446
68519
68523
68519

In [4]:
print(len(df1))
print(len(df2))
print(len(df3))
print(len(df4))
print(len(df5))
print(len(df6))

11783250
11783617
11778492
11777611
11774964
11773920

In [6]:
df = pd.concat([df1, df2, df3, df4, df5, df6])
df.drop_duplicates(inplace=True)
print(len(df))

11810269

In [7]:
countries = [
    "global", "us", "gb", "ad", "ar", "at", "au", "be", "bg", "bo", "br", "ca",
    "ch", "cl", "co", "cr", "cy", "cz", "de", "dk", "do", "ec", "ee", "es",
    "fi", "fr", "gr", "gt", "hk", "hn", "hu", "id", "ie", "il", "in", "is",
    "it", "jp", "lt", "lu", "lv", "mc", "mt", "mx", "my", "ni", "nl", "no",
    "nz", "pa", "pe", "ph", "pl", "pt", "py", "ro", "se", "sg", "sk", "sv",
    "th", "tr", "tw", "uy", "vn", "za"
]

In [8]:
from datetime import date, timedelta
initial_date = date(2017, 1, 1)
next_date = timedelta(days=1)
temp_date = initial_date
dates = []
while temp_date <= date.today():
    dates.append(temp_date)
    temp_date += next_date

In [9]:
temp = df1.groupby(['Date', 'Country'])['Position'].count()
missing1 = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing1.append((date, country))
print(len(missing1))
country_count1 = []
for country in set([item[1] for item in missing1]):
    country_count1.append((country, len([item for item in missing1 if item[1] == country])))
sorted(country_count1, key=lambda tup: tup[1])

10720

[('nz', 10),
 ('ph', 10),
 ('nl', 10),
 ('sv', 11),
 ('no', 11),
 ('fi', 11),
 ('my', 11),
 ('ch', 11),
 ('hn', 12),
 ('id', 12),
 ('jp', 12),
 ('ar', 12),
 ('se', 12),
 ('do', 12),
 ('dk', 12),
 ('ie', 12),
 ('cr', 12),
 ('it', 12),
 ('pa', 13),
 ('cl', 13),
 ('de', 13),
 ('ca', 13),
 ('pl', 13),
 ('es', 14),
 ('gb', 14),
 ('sk', 14),
 ('is', 14),
 ('gt', 14),
 ('uy', 14),
 ('br', 15),
 ('co', 15),
 ('at', 15),
 ('global', 16),
 ('be', 16),
 ('bo', 16),
 ('fr', 16),
 ('tw', 16),
 ('pe', 16),
 ('sg', 16),
 ('py', 17),
 ('au', 18),
 ('hk', 18),
 ('pt', 18),
 ('ec', 19),
 ('gr', 19),
 ('hu', 19),
 ('tr', 19),
 ('mx', 20),
 ('us', 21),
 ('cz', 21),
 ('lv', 45),
 ('lt', 187),
 ('th', 244),
 ('ee', 256),
 ('il', 443),
 ('vn', 443),
 ('ro', 446),
 ('za', 521),
 ('bg', 662),
 ('ni', 700),
 ('in', 791),
 ('mt', 907),
 ('lu', 908),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [10]:
temp = df2.groupby(['Date', 'Country'])['Position'].count()
missing2 = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing2.append((date, country))
print(len(missing2))
country_count2 = []
for country in set([item[1] for item in missing2]):
    country_count2.append((country, len([item for item in missing2 if item[1] == country])))
sorted(country_count2, key=lambda tup: tup[1])

10717

[('nz', 10),
 ('ph', 10),
 ('nl', 10),
 ('sv', 11),
 ('no', 11),
 ('my', 11),
 ('hn', 12),
 ('id', 12),
 ('jp', 12),
 ('se', 12),
 ('de', 12),
 ('bo', 12),
 ('cr', 12),
 ('it', 12),
 ('fi', 12),
 ('ch', 12),
 ('ar', 13),
 ('cl', 13),
 ('do', 13),
 ('dk', 13),
 ('ie', 13),
 ('pl', 13),
 ('es', 14),
 ('gb', 14),
 ('pa', 14),
 ('is', 14),
 ('ca', 14),
 ('gt', 14),
 ('sk', 15),
 ('co', 15),
 ('be', 15),
 ('uy', 15),
 ('pe', 15),
 ('at', 15),
 ('global', 16),
 ('br', 16),
 ('hk', 16),
 ('hu', 16),
 ('pt', 16),
 ('sg', 16),
 ('py', 17),
 ('fr', 17),
 ('tw', 17),
 ('gr', 18),
 ('au', 18),
 ('ec', 19),
 ('tr', 19),
 ('mx', 20),
 ('cz', 20),
 ('us', 21),
 ('lv', 45),
 ('lt', 187),
 ('th', 244),
 ('ee', 256),
 ('il', 443),
 ('vn', 443),
 ('ro', 446),
 ('za', 521),
 ('bg', 662),
 ('ni', 700),
 ('in', 791),
 ('mt', 907),
 ('lu', 908),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [11]:
temp = df3.groupby(['Date', 'Country'])['Position'].count()
missing3 = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing3.append((date, country))
print(len(missing3))
country_count3 = []
for country in set([item[1] for item in missing3]):
    country_count3.append((country, len([item for item in missing3 if item[1] == country])))
sorted(country_count3, key=lambda tup: tup[1])

10748

[('nz', 9),
 ('nl', 9),
 ('my', 10),
 ('hn', 11),
 ('se', 11),
 ('sv', 11),
 ('dk', 11),
 ('it', 11),
 ('pa', 12),
 ('jp', 12),
 ('ar', 12),
 ('de', 12),
 ('bo', 12),
 ('gt', 12),
 ('cr', 12),
 ('fi', 12),
 ('gb', 13),
 ('sk', 13),
 ('cl', 13),
 ('ie', 13),
 ('ph', 13),
 ('es', 14),
 ('ca', 14),
 ('no', 14),
 ('do', 14),
 ('pl', 14),
 ('ch', 14),
 ('id', 15),
 ('is', 15),
 ('sg', 15),
 ('co', 16),
 ('be', 16),
 ('py', 16),
 ('fr', 16),
 ('pe', 16),
 ('at', 16),
 ('pt', 17),
 ('au', 18),
 ('hk', 18),
 ('hu', 18),
 ('uy', 18),
 ('ec', 19),
 ('br', 19),
 ('gr', 19),
 ('tw', 19),
 ('mx', 20),
 ('cz', 20),
 ('us', 22),
 ('tr', 23),
 ('global', 24),
 ('lv', 47),
 ('lt', 187),
 ('th', 244),
 ('ee', 260),
 ('vn', 442),
 ('il', 443),
 ('ro', 446),
 ('za', 521),
 ('bg', 663),
 ('ni', 699),
 ('in', 791),
 ('mt', 907),
 ('lu', 908),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [12]:
temp = df4.groupby(['Date', 'Country'])['Position'].count()
missing4 = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing4.append((date, country))
print(len(missing4))
country_count4 = []
for country in set([item[1] for item in missing4]):
    country_count4.append((country, len([item for item in missing4 if item[1] == country])))
sorted(country_count4, key=lambda tup: tup[1])

10755

[('nz', 9),
 ('ph', 9),
 ('nl', 9),
 ('hn', 10),
 ('de', 10),
 ('my', 10),
 ('pa', 11),
 ('jp', 11),
 ('se', 11),
 ('bo', 11),
 ('dk', 11),
 ('gt', 11),
 ('sk', 12),
 ('ar', 12),
 ('cr', 12),
 ('it', 12),
 ('fi', 12),
 ('gb', 13),
 ('ie', 13),
 ('pl', 13),
 ('ca', 14),
 ('sv', 14),
 ('no', 14),
 ('ch', 14),
 ('cl', 15),
 ('pe', 15),
 ('at', 15),
 ('sg', 15),
 ('co', 16),
 ('py', 16),
 ('hu', 16),
 ('fr', 16),
 ('es', 17),
 ('br', 17),
 ('is', 17),
 ('be', 17),
 ('hk', 17),
 ('do', 17),
 ('pt', 17),
 ('uy', 18),
 ('gr', 19),
 ('au', 19),
 ('tw', 19),
 ('id', 20),
 ('mx', 20),
 ('cz', 20),
 ('ec', 21),
 ('us', 21),
 ('tr', 23),
 ('global', 26),
 ('lv', 47),
 ('lt', 187),
 ('th', 244),
 ('ee', 259),
 ('vn', 442),
 ('il', 444),
 ('ro', 446),
 ('za', 521),
 ('bg', 663),
 ('ni', 699),
 ('in', 790),
 ('mt', 907),
 ('lu', 912),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [13]:
temp = df5.groupby(['Date', 'Country'])['Position'].count()
missing5 = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing5.append((date, country))
print(len(missing5))
country_count5 = []
for country in set([item[1] for item in missing5]):
    country_count5.append((country, len([item for item in missing5 if item[1] == country])))
sorted(country_count5, key=lambda tup: tup[1])

10766

[('nz', 9),
 ('ph', 9),
 ('nl', 9),
 ('hn', 10),
 ('de', 10),
 ('pa', 11),
 ('jp', 11),
 ('sv', 11),
 ('gt', 11),
 ('cr', 11),
 ('my', 11),
 ('ar', 12),
 ('se', 12),
 ('bo', 12),
 ('dk', 12),
 ('it', 12),
 ('sk', 13),
 ('ie', 13),
 ('pl', 13),
 ('gb', 14),
 ('ca', 14),
 ('no', 14),
 ('ch', 14),
 ('cl', 15),
 ('hu', 15),
 ('sg', 15),
 ('co', 16),
 ('be', 16),
 ('py', 16),
 ('fr', 16),
 ('pe', 16),
 ('at', 16),
 ('fi', 16),
 ('es', 17),
 ('br', 17),
 ('is', 17),
 ('hk', 17),
 ('do', 17),
 ('gr', 18),
 ('pt', 18),
 ('id', 19),
 ('au', 19),
 ('tw', 19),
 ('mx', 20),
 ('cz', 20),
 ('ec', 21),
 ('uy', 21),
 ('tr', 23),
 ('us', 24),
 ('global', 28),
 ('lv', 47),
 ('lt', 188),
 ('th', 246),
 ('ee', 259),
 ('vn', 442),
 ('il', 444),
 ('ro', 446),
 ('za', 520),
 ('bg', 663),
 ('ni', 699),
 ('in', 790),
 ('mt', 907),
 ('lu', 908),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [14]:
temp = df6.groupby(['Date', 'Country'])['Position'].count()
missing6 = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing6.append((date, country))
print(len(missing6))
country_count6 = []
for country in set([item[1] for item in missing6]):
    country_count6.append((country, len([item for item in missing6 if item[1] == country])))
sorted(country_count6, key=lambda tup: tup[1])

10772

[('nz', 9),
 ('nl', 9),
 ('hn', 10),
 ('de', 10),
 ('ph', 10),
 ('pa', 11),
 ('jp', 11),
 ('sv', 11),
 ('gt', 11),
 ('my', 11),
 ('sk', 12),
 ('ar', 12),
 ('se', 12),
 ('bo', 12),
 ('dk', 12),
 ('it', 12),
 ('fi', 12),
 ('gb', 13),
 ('ca', 14),
 ('no', 14),
 ('ie', 14),
 ('pl', 14),
 ('ch', 14),
 ('cl', 15),
 ('be', 15),
 ('cr', 15),
 ('at', 15),
 ('sg', 15),
 ('co', 16),
 ('py', 16),
 ('fr', 16),
 ('pe', 16),
 ('es', 17),
 ('br', 17),
 ('is', 17),
 ('hk', 17),
 ('hu', 17),
 ('do', 17),
 ('uy', 17),
 ('gr', 18),
 ('au', 18),
 ('tw', 19),
 ('ec', 20),
 ('id', 20),
 ('mx', 21),
 ('cz', 21),
 ('pt', 21),
 ('us', 23),
 ('tr', 24),
 ('global', 28),
 ('lv', 48),
 ('lt', 188),
 ('th', 248),
 ('ee', 259),
 ('vn', 442),
 ('ro', 445),
 ('il', 446),
 ('za', 521),
 ('bg', 663),
 ('ni', 699),
 ('in', 790),
 ('mt', 907),
 ('lu', 908),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [15]:
temp = df.groupby(['Date', 'Country'])['Position'].count()
missing = []
for country in countries:
    for date in dates:
        try:
            temp.loc[str(date), country]
        except KeyError:
            missing.append((date, country))
print(len(missing))
country_count = []
for country in set([item[1] for item in missing]):
    country_count.append((country, len([item for item in missing if item[1] == country])))
sorted(country_count, key=lambda tup: tup[1])

10605

[('ch', 7),
 ('nz', 8),
 ('de', 8),
 ('hn', 9),
 ('bo', 9),
 ('gt', 9),
 ('ph', 9),
 ('nl', 9),
 ('id', 10),
 ('ca', 10),
 ('sv', 10),
 ('no', 10),
 ('do', 10),
 ('dk', 10),
 ('cr', 10),
 ('it', 10),
 ('fi', 10),
 ('my', 10),
 ('gb', 11),
 ('pa', 11),
 ('jp', 11),
 ('se', 11),
 ('uy', 11),
 ('ie', 11),
 ('pl', 11),
 ('sk', 12),
 ('ar', 12),
 ('cl', 12),
 ('hu', 12),
 ('es', 13),
 ('is', 13),
 ('be', 13),
 ('pt', 13),
 ('pe', 13),
 ('br', 14),
 ('co', 14),
 ('py', 14),
 ('at', 14),
 ('sg', 14),
 ('global', 15),
 ('hk', 15),
 ('fr', 16),
 ('tw', 16),
 ('ec', 17),
 ('gr', 17),
 ('au', 17),
 ('us', 18),
 ('cz', 18),
 ('tr', 18),
 ('mx', 19),
 ('lv', 45),
 ('lt', 187),
 ('th', 244),
 ('ee', 254),
 ('vn', 441),
 ('il', 443),
 ('ro', 444),
 ('za', 520),
 ('bg', 662),
 ('ni', 699),
 ('in', 790),
 ('mt', 907),
 ('lu', 908),
 ('mc', 1149),
 ('ad', 1149),
 ('cy', 1149)]

In [16]:
df[df.groupby(['Date', 'Country'])['Position'].transform('count') < 50]['Country'].unique()

array(['bg', 'ee', 'gr', 'is', 'lt', 'lu', 'lv', 'mt', 'ni', 'sk'],
      dtype=object)

In [17]:
date_count = []
for date in set([item[0] for item in missing]):
    date_count.append((str(date), len([item for item in missing if item[0] == date])))
sorted(date_count, key=lambda tup: tup[1], reverse=True)

[('2017-05-30', 66),
 ('2017-05-31', 66),
 ('2020-02-23', 66),
 ('2017-06-02', 66),
 ('2020-02-22', 66),
 ('2020-02-20', 21),
 ('2020-02-21', 21),
 ('2017-08-27', 17),
 ('2017-10-28', 17),
 ('2017-08-13', 17),
 ('2017-09-24', 16),
 ('2017-11-26', 16),
 ('2017-09-02', 16),
 ('2017-08-26', 16),
 ('2017-08-15', 16),
 ('2017-08-19', 16),
 ('2017-09-10', 16),
 ('2017-09-17', 16),
 ('2018-02-15', 16),
 ('2017-08-20', 16),
 ('2018-02-26', 15),
 ('2017-12-03', 15),
 ('2017-08-29', 15),
 ('2017-08-18', 15),
 ('2018-02-19', 15),
 ('2017-09-03', 15),
 ('2017-09-25', 15),
 ('2017-11-28', 15),
 ('2017-11-30', 15),
 ('2018-01-29', 15),
 ('2017-11-25', 15),
 ('2018-01-04', 15),
 ('2017-10-08', 15),
 ('2018-02-22', 15),
 ('2017-10-29', 15),
 ('2017-09-14', 15),
 ('2017-11-19', 15),
 ('2017-11-10', 15),
 ('2017-11-09', 15),
 ('2017-09-26', 15),
 ('2017-11-23', 15),
 ('2017-08-24', 15),
 ('2018-02-05', 15),
 ('2018-01-01', 15),
 ('2017-08-08', 15),
 ('2017-10-15', 15),
 ('2017-09-04', 15),
 ('2017-09-11', 15),
 ('2017-08-12', 15),
 ('2017-12-11', 15),
 ('2017-09-23', 15),
 ('2017-10-01', 15),
 ('2017-11-13', 15),
 ('2017-09-18', 14),
 ('2017-08-28', 14),
 ('2017-11-12', 14),
 ('2017-09-01', 14),
 ('2018-02-18', 14),
 ('2018-01-27', 14),
 ('2018-02-27', 14),
 ('2017-11-04', 14),
 ('2017-08-07', 14),
 ('2017-09-12', 14),
 ('2018-02-12', 14),
 ('2017-11-14', 14),
 ('2018-02-04', 14),
 ('2017-09-06', 14),
 ('2017-10-03', 14),
 ('2017-10-12', 14),
 ('2017-08-22', 14),
 ('2017-08-10', 14),
 ('2017-08-25', 14),
 ('2017-12-26', 14),
 ('2017-11-29', 14),
 ('2017-11-22', 14),
 ('2018-01-15', 14),
 ('2017-11-27', 14),
 ('2017-08-17', 14),
 ('2017-11-01', 14),
 ('2018-03-07', 14),
 ('2017-12-25', 14),
 ('2017-11-06', 14),
 ('2018-01-03', 14),
 ('2017-08-09', 14),
 ('2017-12-27', 14),
 ('2017-12-28', 14),
 ('2017-09-29', 14),
 ('2018-02-20', 14),
 ('2018-01-02', 14),
 ('2017-11-21', 14),
 ('2018-02-17', 14),
 ('2018-02-03', 14),
 ('2017-09-16', 14),
 ('2017-10-26', 14),
 ('2017-12-30', 14),
 ('2018-03-05', 14),
 ('2018-01-20', 14),
 ('2017-11-15', 14),
 ('2018-02-24', 14),
 ('2017-11-05', 14),
 ('2018-03-10', 14),
 ('2018-01-21', 14),
 ('2017-11-07', 14),
 ('2017-11-17', 14),
 ('2018-01-26', 14),
 ('2017-09-09', 14),
 ('2017-10-02', 14),
 ('2018-02-14', 14),
 ('2017-11-18', 14),
 ('2017-11-02', 14),
 ('2018-01-28', 14),
 ('2018-03-11', 14),
 ('2018-01-14', 14),
 ('2017-08-21', 14),
 ('2017-10-16', 14),
 ('2017-08-11', 14),
 ('2018-02-28', 14),
 ('2017-12-12', 14),
 ('2018-03-01', 14),
 ('2018-01-22', 14),
 ('2018-02-25', 14),
 ('2018-03-08', 14),
 ('2018-02-11', 14),
 ('2017-11-20', 14),
 ('2017-09-27', 14),
 ('2018-03-06', 14),
 ('2018-03-09', 14),
 ('2018-01-25', 14),
 ('2018-02-10', 14),
 ('2018-01-07', 14),
 ('2017-10-24', 14),
 ('2017-11-08', 14),
 ('2017-11-16', 14),
 ('2017-12-04', 14),
 ('2017-10-22', 14),
 ('2018-02-21', 14),
 ('2017-10-14', 14),
 ('2017-11-11', 14),
 ('2017-12-29', 14),
 ('2018-03-04', 14),
 ('2017-09-15', 13),
 ('2017-10-18', 13),
 ('2017-10-05', 13),
 ('2018-01-23', 13),
 ('2018-02-01', 13),
 ('2018-03-02', 13),
 ('2018-02-02', 13),
 ('2017-10-09', 13),
 ('2017-10-23', 13),
 ('2017-10-25', 13),
 ('2018-01-11', 13),
 ('2017-09-07', 13),
 ('2018-03-03', 13),
 ('2017-09-05', 13),
 ('2018-01-06', 13),
 ('2017-09-30', 13),
 ('2017-12-05', 13),
 ('2017-09-21', 13),
 ('2017-09-19', 13),
 ('2017-12-01', 13),
 ('2017-11-24', 13),
 ('2018-06-03', 13),
 ('2018-02-06', 13),
 ('2017-08-30', 13),
 ('2017-10-30', 13),
 ('2017-12-07', 13),
 ('2018-01-30', 13),
 ('2018-01-24', 13),
 ('2017-12-18', 13),
 ('2017-10-07', 13),
 ('2017-09-22', 13),
 ('2017-10-10', 13),
 ('2018-03-13', 13),
 ('2017-09-28', 13),
 ('2017-10-20', 13),
 ('2017-12-02', 13),
 ('2017-10-21', 13),
 ('2017-09-13', 13),
 ('2018-03-12', 13),
 ('2018-02-08', 13),
 ('2017-10-19', 13),
 ('2018-02-13', 13),
 ('2018-02-16', 13),
 ('2017-08-14', 13),
 ('2018-01-09', 13),
 ('2017-10-31', 13),
 ('2018-01-13', 13),
 ('2018-04-17', 13),
 ('2017-12-14', 13),
 ('2017-08-16', 13),
 ('2017-08-31', 13),
 ('2017-09-08', 13),
 ('2018-02-07', 12),
 ('2017-02-23', 12),
 ('2018-03-28', 12),
 ('2018-01-17', 12),
 ('2017-03-15', 12),
 ('2018-01-18', 12),
 ('2017-12-31', 12),
 ('2018-01-12', 12),
 ('2018-03-24', 12),
 ('2017-12-06', 12),
 ('2017-10-13', 12),
 ('2017-10-11', 12),
 ('2017-10-17', 12),
 ('2017-11-03', 12),
 ('2018-07-15', 12),
 ('2017-12-09', 12),
 ('2018-03-18', 12),
 ('2017-05-17', 12),
 ('2017-12-21', 12),
 ('2017-10-04', 12),
 ('2018-01-08', 12),
 ('2018-01-31', 12),
 ('2017-12-24', 12),
 ('2017-12-13', 12),
 ('2017-09-20', 12),
 ('2018-01-19', 12),
 ('2018-01-10', 12),
 ('2017-10-27', 12),
 ('2017-12-17', 12),
 ('2017-06-08', 12),
 ('2018-02-23', 12),
 ('2018-02-09', 12),
 ('2017-12-16', 12),
 ('2018-01-16', 12),
 ('2018-06-24', 12),
 ('2017-12-19', 12),
 ('2017-12-15', 12),
 ('2017-12-20', 12),
 ('2018-01-05', 12),
 ('2017-12-23', 12),
 ('2017-05-15', 12),
 ('2017-10-06', 12),
 ('2017-12-10', 12),
 ('2018-04-15', 12),
 ('2018-04-01', 12),
 ('2018-04-12', 12),
 ('2017-06-28', 12),
 ('2017-12-08', 12),
 ('2018-06-17', 12),
 ('2017-12-22', 12),
 ('2017-06-25', 11),
 ('2018-05-20', 11),
 ('2018-03-27', 11),
 ('2017-03-23', 11),
 ('2018-04-05', 11),
 ('2017-04-27', 11),
 ('2017-05-02', 11),
 ('2018-10-14', 11),
 ('2018-03-19', 11),
 ('2018-03-15', 11),
 ('2017-06-22', 11),
 ('2019-01-01', 11),
 ('2018-04-08', 11),
 ('2017-06-11', 11),
 ('2018-03-25', 11),
 ('2018-03-20', 11),
 ('2019-01-06', 11),
 ('2018-03-29', 11),
 ('2018-04-18', 11),
 ('2018-05-06', 11),
 ('2018-03-14', 11),
 ('2018-05-27', 11),
 ('2018-04-16', 11),
 ('2018-05-17', 11),
 ('2018-04-19', 11),
 ('2017-02-20', 11),
 ('2018-04-10', 11),
 ('2017-05-20', 11),
 ('2017-06-26', 11),
 ('2018-04-02', 11),
 ('2018-03-31', 11),
 ('2018-07-22', 11),
 ('2017-04-30', 11),
 ('2017-06-09', 11),
 ('2018-07-29', 11),
 ('2018-04-14', 11),
 ('2018-03-22', 11),
 ('2018-04-09', 11),
 ('2018-05-01', 11),
 ('2018-03-26', 11),
 ('2018-03-30', 11),
 ('2017-02-24', 11),
 ('2018-05-26', 11),
 ('2018-05-21', 11),
 ('2017-02-16', 11),
 ('2018-04-07', 11),
 ('2017-06-29', 11),
 ('2018-03-21', 11),
 ('2018-05-12', 11),
 ('2018-04-11', 11),
 ('2017-02-03', 11),
 ('2018-08-12', 11),
 ('2018-05-19', 11),
 ('2018-05-05', 11),
 ('2018-06-10', 11),
 ('2017-07-04', 11),
 ('2018-05-07', 11),
 ('2017-02-04', 11),
 ('2017-06-16', 11),
 ('2017-03-24', 10),
 ('2018-11-08', 10),
 ('2017-07-03', 10),
 ('2017-07-08', 10),
 ('2017-03-05', 10),
 ('2017-05-28', 10),
 ('2017-05-01', 10),
 ('2017-02-09', 10),
 ('2018-04-23', 10),
 ('2018-04-03', 10),
 ('2017-02-07', 10),
 ('2018-04-04', 10),
 ('2018-04-06', 10),
 ('2018-08-16', 10),
 ('2017-07-07', 10),
 ('2017-04-08', 10),
 ('2018-04-29', 10),
 ('2018-10-28', 10),
 ('2017-03-27', 10),
 ('2017-06-17', 10),
 ('2018-10-11', 10),
 ('2017-02-02', 10),
 ('2017-07-17', 10),
 ('2017-02-13', 10),
 ('2019-01-27', 10),
 ('2018-05-16', 10),
 ('2018-05-30', 10),
 ('2017-05-14', 10),
 ('2017-05-25', 10),
 ('2017-02-15', 10),
 ('2017-05-04', 10),
 ('2017-05-08', 10),
 ('2018-05-29', 10),
 ('2017-07-29', 10),
 ('2017-04-01', 10),
 ('2018-09-17', 10),
 ('2018-09-15', 10),
 ('2017-05-13', 10),
 ('2017-03-20', 10),
 ('2018-08-05', 10),
 ('2018-10-21', 10),
 ('2017-02-17', 10),
 ('2017-01-28', 10),
 ('2018-04-13', 10),
 ('2017-06-24', 10),
 ('2017-06-13', 10),
 ('2018-05-23', 10),
 ('2017-04-02', 10),
 ('2017-06-20', 10),
 ('2017-04-22', 10),
 ('2017-02-11', 10),
 ('2018-07-08', 10),
 ('2018-03-17', 10),
 ('2017-05-26', 10),
 ('2017-02-01', 10),
 ('2018-05-08', 10),
 ('2017-07-11', 10),
 ('2018-05-22', 10),
 ('2017-04-07', 10),
 ('2017-02-28', 10),
 ('2017-06-27', 10),
 ('2018-12-30', 10),
 ('2017-04-28', 10),
 ('2017-04-04', 10),
 ('2017-04-06', 10),
 ('2018-04-21', 10),
 ('2017-07-24', 10),
 ('2017-07-06', 10),
 ('2018-06-16', 10),
 ('2018-05-15', 10),
 ('2018-06-22', 10),
 ('2018-11-04', 10),
 ('2017-08-02', 10),
 ('2017-03-02', 10),
 ('2017-07-09', 10),
 ('2017-08-01', 10),
 ('2018-05-31', 10),
 ('2017-02-05', 10),
 ('2017-06-23', 10),
 ('2018-07-21', 10),
 ('2018-05-24', 10),
 ('2018-08-22', 10),
 ('2017-01-09', 10),
 ('2017-08-04', 10),
 ('2018-05-28', 10),
 ('2017-03-25', 10),
 ('2018-05-10', 10),
 ('2017-05-22', 10),
 ('2017-04-05', 10),
 ('2018-08-19', 10),
 ('2017-04-15', 10),
 ('2018-11-07', 10),
 ('2017-08-06', 10),
 ('2017-04-29', 10),
 ('2017-03-09', 10),
 ('2017-05-12', 9),
 ('2019-03-03', 9),
 ('2017-07-26', 9),
 ('2017-06-14', 9),
 ('2017-07-19', 9),
 ('2017-08-05', 9),
 ('2017-01-04', 9),
 ('2018-12-03', 9),
 ('2018-09-30', 9),
 ('2017-01-17', 9),
 ('2018-09-16', 9),
 ('2017-07-22', 9),
 ('2017-07-21', 9),
 ('2017-01-06', 9),
 ('2017-04-19', 9),
 ('2017-05-23', 9),
 ('2017-03-30', 9),
 ('2018-08-10', 9),
 ('2017-07-01', 9),
 ('2018-03-23', 9),
 ('2017-04-14', 9),
 ('2017-01-18', 9),
 ('2017-01-24', 9),
 ('2017-07-28', 9),
 ('2017-01-25', 9),
 ('2017-01-01', 9),
 ('2017-04-09', 9),
 ('2017-05-07', 9),
 ('2018-11-01', 9),
 ('2017-01-11', 9),
 ('2019-01-15', 9),
 ('2017-03-29', 9),
 ('2017-01-26', 9),
 ('2017-03-11', 9),
 ('2017-05-05', 9),
 ('2017-02-22', 9),
 ('2018-07-20', 9),
 ('2017-03-07', 9),
 ('2018-06-11', 9),
 ('2018-12-17', 9),
 ('2017-03-31', 9),
 ('2018-08-11', 9),
 ('2017-05-06', 9),
 ('2017-01-08', 9),
 ('2018-11-19', 9),
 ('2019-05-12', 9),
 ('2018-05-14', 9),
 ('2018-07-13', 9),
 ('2018-08-24', 9),
 ('2018-05-13', 9),
 ('2019-01-20', 9),
 ('2017-04-24', 9),
 ('2017-01-14', 9),
 ('2017-06-19', 9),
 ('2017-07-20', 9),
 ('2018-09-29', 9),
 ('2017-05-11', 9),
 ('2018-10-27', 9),
 ('2018-12-01', 9),
 ('2017-02-19', 9),
 ('2017-02-12', 9),
 ('2017-06-01', 9),
 ('2018-05-09', 9),
 ('2018-05-18', 9),
 ('2017-03-14', 9),
 ('2017-01-27', 9),
 ('2017-06-21', 9),
 ('2017-01-20', 9),
 ('2017-03-13', 9),
 ('2018-12-09', 9),
 ('2017-03-16', 9),
 ('2017-06-07', 9),
 ('2018-05-02', 9),
 ('2019-02-24', 9),
 ('2018-06-08', 9),
 ('2017-07-13', 9),
 ('2019-01-14', 9),
 ('2017-03-17', 9),
 ('2018-12-29', 9),
 ('2017-06-04', 9),
 ('2017-06-30', 9),
 ('2017-03-06', 9),
 ('2019-01-19', 9),
 ('2017-03-19', 9),
 ('2017-05-10', 9),
 ('2018-07-26', 9),
 ('2019-01-05', 9),
 ('2017-05-03', 9),
 ('2018-11-20', 9),
 ('2019-03-24', 9),
 ('2017-01-10', 9),
 ('2017-07-02', 9),
 ('2018-04-22', 9),
 ('2017-06-05', 9),
 ('2017-07-14', 9),
 ('2017-01-30', 9),
 ('2018-07-31', 9),
 ('2018-08-15', 9),
 ('2017-05-27', 9),
 ('2017-07-15', 9),
 ('2017-05-29', 9),
 ('2018-07-11', 9),
 ('2018-09-23', 9),
 ('2017-08-03', 9),
 ('2017-04-21', 9),
 ('2019-02-13', 9),
 ('2017-03-21', 9),
 ('2017-01-02', 9),
 ('2018-08-08', 9),
 ('2017-03-04', 9),
 ('2017-03-22', 9),
 ('2019-01-04', 9),
 ('2018-12-23', 9),
 ('2017-04-26', 9),
 ('2017-01-22', 9),
 ('2017-06-18', 9),
 ('2017-04-23', 9),
 ('2017-05-21', 9),
 ('2017-02-25', 9),
 ('2017-01-15', 9),
 ('2018-08-04', 9),
 ('2017-02-26', 9),
 ('2018-07-03', 9),
 ('2017-07-23', 9),
 ('2017-03-28', 9),
 ('2018-05-03', 9),
 ('2017-04-16', 9),
 ('2017-03-08', 9),
 ('2017-07-31', 9),
 ('2017-02-18', 9),
 ('2019-04-12', 9),
 ('2018-11-03', 9),
 ('2018-06-02', 9),
 ('2018-03-16', 9),
 ('2017-04-12', 9),
 ('2017-03-01', 9),
 ('2017-02-21', 9),
 ('2017-02-06', 9),
 ('2017-03-18', 9),
 ('2017-03-26', 9),
 ('2018-09-06', 9),
 ('2018-12-28', 9),
 ('2018-04-25', 9),
 ('2017-01-12', 9),
 ('2018-12-04', 9),
 ('2017-05-16', 9),
 ('2018-04-24', 9),
 ('2017-01-23', 9),
 ('2017-01-03', 9),
 ('2017-07-27', 9),
 ('2017-06-10', 9),
 ('2017-05-18', 9),
 ('2017-01-29', 9),
 ('2017-06-06', 9),
 ('2017-04-03', 9),
 ('2017-07-30', 9),
 ('2018-11-10', 9),
 ('2017-01-07', 9),
 ('2017-01-16', 9),
 ('2017-07-18', 9),
 ('2017-04-17', 9),
 ('2017-02-27', 9),
 ('2017-03-10', 9),
 ('2017-07-10', 9),
 ('2018-06-23', 9),
 ('2018-09-09', 9),
 ('2018-07-28', 9),
 ('2017-06-15', 9),
 ('2017-01-21', 9),
 ('2017-04-18', 9),
 ('2017-07-05', 9),
 ('2018-06-13', 9),
 ('2019-02-17', 9),
 ('2017-04-13', 9),
 ('2017-05-24', 9),
 ('2018-12-15', 9),
 ('2018-08-03', 9),
 ('2018-09-03', 9),
 ('2019-02-21', 9),
 ('2018-06-18', 9),
 ('2019-01-03', 9),
 ('2017-02-08', 9),
 ('2018-07-06', 9),
 ('2018-07-07', 9),
 ('2018-10-08', 9),
 ('2018-12-14', 9),
 ('2017-02-14', 9),
 ('2017-01-13', 9),
 ('2017-05-19', 9),
 ('2018-11-28', 9),
 ('2019-01-22', 9),
 ('2018-05-25', 9),
 ('2018-09-10', 9),
 ('2017-06-12', 9),
 ('2017-04-20', 9),
 ('2017-07-12', 9),
 ('2017-01-31', 9),
 ('2017-06-03', 9),
 ('2019-04-04', 9),
 ('2017-07-16', 9),
 ('2017-02-10', 9),
 ('2017-03-12', 9),
 ('2018-07-02', 9),
 ('2018-06-14', 9),
 ('2018-09-05', 9),
 ('2017-04-10', 9),
 ('2018-09-02', 9),
 ('2017-04-25', 9),
 ('2017-05-09', 9),
 ('2017-04-11', 9),
 ('2018-09-07', 9),
 ('2018-12-05', 9),
 ('2017-03-03', 9),
 ('2018-06-04', 9),
 ('2017-01-05', 9),
 ('2017-01-19', 9),
 ('2017-07-25', 9),
 ('2019-03-17', 9),
 ('2018-09-27', 8),
 ('2018-12-12', 8),
 ('2018-11-29', 8),
 ('2019-02-02', 8),
 ('2018-11-17', 8),
 ('2018-10-01', 8),
 ('2018-10-15', 8),
 ('2018-11-11', 8),
 ('2019-04-28', 8),
 ('2018-10-07', 8),
 ('2018-07-09', 8),
 ('2018-10-20', 8),
 ('2018-09-22', 8),
 ('2018-10-16', 8),
 ('2018-09-01', 8),
 ('2018-05-04', 8),
 ('2018-09-14', 8),
 ('2019-01-02', 8),
 ('2018-07-25', 8),
 ('2018-09-08', 8),
 ('2019-02-16', 8),
 ('2018-10-18', 8),
 ('2018-08-25', 8),
 ('2019-02-26', 8),
 ('2018-12-26', 8),
 ('2018-11-26', 8),
 ('2018-12-10', 8),
 ('2018-09-11', 8),
 ('2020-02-17', 8),
 ('2019-05-25', 8),
 ('2019-05-31', 8),
 ('2018-07-17', 8),
 ('2018-06-26', 8),
 ('2018-08-30', 8),
 ('2018-12-18', 8),
 ('2019-07-14', 8),
 ('2018-06-25', 8),
 ('2018-10-30', 8),
 ('2019-01-13', 8),
 ('2019-01-29', 8),
 ('2018-08-01', 8),
 ('2018-05-11', 8),
 ('2018-06-28', 8),
 ('2018-04-30', 8),
 ('2018-08-07', 8),
 ('2018-11-22', 8),
 ('2019-07-07', 8),
 ('2018-07-27', 8),
 ('2018-09-04', 8),
 ('2018-11-06', 8),
 ('2018-12-06', 8),
 ('2019-01-16', 8),
 ('2018-11-24', 8),
 ('2018-12-20', 8),
 ('2017-08-23', 8),
 ('2018-06-06', 8),
 ('2018-09-28', 8),
 ('2018-07-05', 8),
 ('2018-06-07', 8),
 ('2018-07-01', 8),
 ('2018-07-19', 8),
 ('2018-08-28', 8),
 ('2018-10-23', 8),
 ('2018-07-16', 8),
 ('2018-07-24', 8),
 ('2019-01-09', 8),
 ('2020-01-01', 8),
 ('2019-01-08', 8),
 ('2018-08-20', 8),
 ('2018-06-30', 8),
 ('2018-07-23', 8),
 ('2018-08-02', 8),
 ('2018-06-05', 8),
 ('2019-03-21', 8),
 ('2019-02-25', 8),
 ('2018-07-14', 8),
 ('2019-01-28', 8),
 ('2018-08-18', 8),
 ('2018-09-25', 8),
 ('2018-11-27', 8),
 ('2018-06-20', 8),
 ('2018-07-12', 8),
 ('2018-10-09', 8),
 ('2018-10-05', 8),
 ('2019-03-31', 8),
 ('2019-01-21', 8),
 ('2018-08-21', 8),
 ('2019-02-07', 8),
 ('2019-08-25', 8),
 ('2019-04-21', 8),
 ('2018-07-18', 8),
 ('2019-03-06', 8),
 ('2019-02-23', 8),
 ('2018-11-18', 8),
 ('2018-06-19', 8),
 ('2018-08-06', 8),
 ('2018-09-24', 8),
 ('2018-09-20', 8),
 ('2019-02-15', 8),
 ('2019-03-07', 8),
 ('2018-10-31', 8),
 ('2019-02-19', 8),
 ('2018-08-29', 8),
 ('2019-01-23', 8),
 ('2018-08-27', 8),
 ('2019-03-19', 8),
 ('2018-10-25', 8),
 ('2018-10-02', 8),
 ('2019-02-05', 8),
 ('2018-10-06', 8),
 ('2018-12-27', 8),
 ('2018-06-21', 8),
 ('2018-09-21', 8),
 ('2018-09-26', 8),
 ('2018-04-28', 8),
 ('2018-12-02', 8),
 ('2018-04-27', 8),
 ('2018-08-13', 8),
 ('2018-11-25', 8),
 ('2018-07-04', 8),
 ('2018-10-29', 8),
 ('2018-09-13', 8),
 ('2018-12-08', 8),
 ('2018-10-03', 8),
 ('2018-10-17', 8),
 ('2019-01-25', 8),
 ('2019-01-17', 8),
 ('2019-06-16', 8),
 ('2018-10-22', 8),
 ('2018-06-27', 8),
 ('2018-07-10', 8),
 ('2018-06-01', 8),
 ('2018-08-26', 8),
 ('2018-12-16', 8),
 ('2018-09-12', 8),
 ('2018-11-30', 8),
 ('2018-10-10', 8),
 ('2018-08-17', 8),
 ('2019-01-26', 8),
 ('2019-02-03', 8),
 ('2019-01-10', 8),
 ('2018-08-14', 8),
 ('2018-06-09', 8),
 ('2019-02-04', 8),
 ('2018-08-23', 8),
 ('2019-01-12', 8),
 ('2018-04-20', 8),
 ('2018-10-24', 8),
 ('2019-01-24', 8),
 ('2018-12-31', 8),
 ('2019-02-10', 8),
 ('2018-10-04', 8),
 ('2018-06-15', 8),
 ('2018-10-13', 8),
 ('2018-12-13', 8),
 ('2018-12-11', 8),
 ('2019-01-07', 8),
 ('2018-09-18', 8),
 ('2018-08-09', 8),
 ('2018-09-19', 8),
 ('2019-03-28', 8),
 ('2018-12-19', 8),
 ('2019-01-30', 8),
 ('2018-07-30', 8),
 ('2019-01-11', 8),
 ('2018-06-12', 8),
 ('2019-05-05', 8),
 ('2018-04-26', 8),
 ('2019-02-09', 7),
 ('2019-02-06', 7),
 ('2019-07-21', 7),
 ('2019-02-12', 7),
 ('2019-11-16', 7),
 ('2019-10-06', 7),
 ('2019-04-18', 7),
 ('2019-03-13', 7),
 ('2019-02-14', 7),
 ('2019-03-12', 7),
 ('2019-04-14', 7),
 ('2018-11-15', 7),
 ('2019-04-26', 7),
 ('2019-02-08', 7),
 ('2019-05-26', 7),
 ('2019-03-26', 7),
 ('2019-07-31', 7),
 ('2019-05-02', 7),
 ('2019-05-06', 7),
 ('2019-07-09', 7),
 ('2018-11-12', 7),
 ('2019-01-18', 7),
 ('2019-04-29', 7),
 ('2019-11-09', 7),
 ('2019-06-09', 7),
 ('2018-12-07', 7),
 ('2019-04-07', 7),
 ('2019-03-10', 7),
 ('2019-12-26', 7),
 ('2020-02-15', 7),
 ('2019-07-30', 7),
 ('2019-05-03', 7),
 ('2018-08-31', 7),
 ('2019-03-01', 7),
 ('2018-11-09', 7),
 ('2019-05-09', 7),
 ('2019-03-22', 7),
 ('2019-03-14', 7),
 ('2019-02-22', 7),
 ('2019-09-01', 7),
 ('2019-07-27', 7),
 ('2019-03-11', 7),
 ('2019-04-20', 7),
 ('2020-02-18', 7),
 ('2019-07-12', 7),
 ('2019-04-03', 7),
 ('2019-06-13', 7),
 ('2019-08-31', 7),
 ('2018-10-12', 7),
 ('2019-02-18', 7),
 ('2019-04-22', 7),
 ('2019-07-19', 7),
 ('2019-03-15', 7),
 ('2019-08-10', 7),
 ('2019-05-19', 7),
 ('2018-11-23', 7),
 ('2019-05-14', 7),
 ('2019-03-27', 7),
 ('2019-01-31', 7),
 ('2019-07-17', 7),
 ('2019-03-16', 7),
 ('2019-05-15', 7),
 ('2019-05-16', 7),
 ('2019-04-10', 7),
 ('2019-09-29', 7),
 ('2020-02-16', 7),
 ('2019-04-23', 7),
 ('2019-05-07', 7),
 ('2019-05-01', 7),
 ('2019-08-04', 7),
 ('2019-04-08', 7),
 ('2018-10-26', 7),
 ('2019-04-30', 7),
 ('2019-05-13', 7),
 ('2019-12-16', 7),
 ('2019-07-28', 7),
 ('2018-11-21', 7),
 ('2019-02-28', 7),
 ('2019-03-25', 7),
 ('2019-03-04', 7),
 ('2019-03-18', 7),
 ('2019-03-20', 7),
 ('2019-05-08', 7),
 ('2019-04-17', 7),
 ('2019-02-20', 7),
 ('2019-03-02', 7),
 ('2019-02-01', 7),
 ('2019-04-11', 7),
 ('2019-06-02', 7),
 ('2019-04-09', 7),
 ('2019-02-27', 7),
 ('2020-02-19', 7),
 ('2020-01-05', 7),
 ('2019-06-12', 6),
 ('2018-12-22', 6),
 ('2019-07-03', 6),
 ('2019-06-18', 6),
 ('2019-12-09', 6),
 ('2019-05-21', 6),
 ('2019-10-01', 6),
 ('2019-12-12', 6),
 ('2019-07-25', 6),
 ('2018-11-13', 6),
 ('2019-05-30', 6),
 ('2019-12-14', 6),
 ('2019-06-15', 6),
 ('2019-11-03', 6),
 ('2019-05-18', 6),
 ('2019-11-28', 6),
 ('2019-05-04', 6),
 ('2019-03-09', 6),
 ('2019-08-24', 6),
 ('2019-09-24', 6),
 ('2019-06-01', 6),
 ('2019-12-10', 6),
 ('2018-11-02', 6),
 ('2018-12-21', 6),
 ('2019-05-22', 6),
 ('2018-11-14', 6),
 ('2019-09-21', 6),
 ('2020-01-02', 6),
 ('2019-07-29', 6),
 ('2019-06-03', 6),
 ('2019-07-20', 6),
 ('2019-07-08', 6),
 ('2019-10-09', 6),
 ('2019-06-24', 6),
 ('2019-04-02', 6),
 ('2018-11-16', 6),
 ('2019-07-11', 6),
 ('2019-05-20', 6),
 ('2019-08-28', 6),
 ('2019-07-02', 6),
 ('2019-06-11', 6),
 ('2019-05-23', 6),
 ('2019-09-22', 6),
 ('2019-04-19', 6),
 ('2019-04-01', 6),
 ('2019-06-30', 6),
 ('2019-12-02', 6),
 ('2019-04-06', 6),
 ('2019-02-11', 6),
 ('2020-01-16', 6),
 ('2019-06-05', 6),
 ('2019-08-22', 6),
 ('2019-03-08', 6),
 ('2019-06-08', 6),
 ('2019-05-27', 6),
 ('2019-04-25', 6),
 ('2019-04-16', 6),
 ('2019-09-23', 6),
 ('2019-03-05', 6),
 ('2019-06-20', 6),
 ('2019-11-10', 6),
 ('2019-08-18', 6),
 ('2019-11-24', 6),
 ('2018-10-19', 6),
 ('2019-12-05', 6),
 ('2019-03-23', 6),
 ('2019-06-06', 6),
 ('2019-03-29', 6),
 ('2018-06-29', 6),
 ('2019-07-26', 6),
 ('2019-10-19', 6),
 ('2019-10-12', 6),
 ('2019-05-17', 6),
 ('2019-08-29', 6),
 ('2019-06-23', 6),
 ('2019-05-29', 6),
 ('2019-11-17', 6),
 ('2019-10-20', 6),
 ('2019-10-27', 6),
 ('2019-06-10', 6),
 ('2019-07-15', 6),
 ('2019-04-15', 6),
 ('2019-07-22', 6),
 ('2019-08-06', 6),
 ('2019-04-24', 6),
 ('2019-08-11', 6),
 ('2018-11-05', 6),
 ('2019-07-24', 6),
 ('2019-05-28', 6),
 ('2019-07-23', 6),
 ('2020-01-19', 6),
 ('2019-10-14', 6),
 ('2019-07-16', 6),
 ('2019-09-07', 6),
 ('2019-03-30', 6),
 ('2019-12-04', 6),
 ('2019-06-04', 6),
 ('2019-11-11', 6),
 ('2019-06-19', 6),
 ('2019-05-10', 6),
 ('2019-12-06', 6),
 ('2019-09-28', 6),
 ('2019-05-24', 6),
 ('2019-07-18', 6),
 ('2019-12-01', 6),

In [18]:
df[df.groupby(['Date', 'Country'])['Position'].transform('count') > 200]

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer,The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
3194939,122,Closer (feat. Halsey),The Chainsmokers,1530,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,cz,2017-09-03
3223160,143,Closer (feat. Halsey),The Chainsmokers,1918,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,cz,2018-01-24
3264103,86,Closer (feat. Halsey),The Chainsmokers,2687,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,cz,2018-08-20
3406183,166,Closer (feat. Halsey),The Chainsmokers,36925,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,de,2017-06-20
3413404,187,Closer (feat. Halsey),The Chainsmokers,34525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,de,2017-07-26

In [19]:
df[(df['Country'] == 'global') & (df['Date'] == '2017-01-01')]

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer,The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
196,197,Oh Lord,MiC LOWRY,331792,https://open.spotify.com/track/1sTUEdVO85YU8Ym...,global,2017-01-01
197,198,Superstition - Single Version,Stevie Wonder,331376,https://open.spotify.com/track/5lXcSvHRVjQJ3LB...,global,2017-01-01
198,199,Secrets,The Weeknd,331233,https://open.spotify.com/track/3DX4Y0egvc0slLc...,global,2017-01-01
199,200,Ni**as In Paris,JAY-Z,325951,https://open.spotify.com/track/2KpCpk6HjXXLb7n...,global,2017-01-01
1,2,Closer (feat. Halsey),The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01

In [20]:
df1[(df1['Country'] == 'global') & (df1['Date'] == '2017-01-01')]

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer,The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
195,196,White Iverson,Post Malone,332756,https://open.spotify.com/track/6eT7xZZlB2mwyzJ...,global,2017-01-01
196,197,Oh Lord,MiC LOWRY,331792,https://open.spotify.com/track/1sTUEdVO85YU8Ym...,global,2017-01-01
197,198,Superstition - Single Version,Stevie Wonder,331376,https://open.spotify.com/track/5lXcSvHRVjQJ3LB...,global,2017-01-01
198,199,Secrets,The Weeknd,331233,https://open.spotify.com/track/3DX4Y0egvc0slLc...,global,2017-01-01
199,200,Ni**as In Paris,JAY-Z,325951,https://open.spotify.com/track/2KpCpk6HjXXLb7n...,global,2017-01-01

In [21]:
df2[(df2['Country'] == 'global') & (df2['Date'] == '2017-01-01')]

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer (feat. Halsey),The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
195,196,White Iverson,Post Malone,332756,https://open.spotify.com/track/6eT7xZZlB2mwyzJ...,global,2017-01-01
196,197,Oh Lord,MiC LOWRY,331792,https://open.spotify.com/track/1sTUEdVO85YU8Ym...,global,2017-01-01
197,198,Superstition - Single Version,Stevie Wonder,331376,https://open.spotify.com/track/5lXcSvHRVjQJ3LB...,global,2017-01-01
198,199,Secrets,The Weeknd,331233,https://open.spotify.com/track/3DX4Y0egvc0slLc...,global,2017-01-01
199,200,Ni**as In Paris,JAY-Z,325951,https://open.spotify.com/track/2KpCpk6HjXXLb7n...,global,2017-01-01

In [22]:
df

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer,The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
9949262,196,ZEZE (feat. Travis Scott & Offset),Kodak Black,2155,https://open.spotify.com/track/0FZ4Dmg8jJJAPJn...,ro,2020-02-21
9949263,197,Tusa,KAROL G,2153,https://open.spotify.com/track/7k4t7uLgtOxPwTp...,ro,2020-02-21
9949264,198,Haos,Azteca,2146,https://open.spotify.com/track/7lt0RpXYlHOigeh...,ro,2020-02-21
9949265,199,stupid,Tate McRae,2143,https://open.spotify.com/track/4k3uABcX9iaGlt5...,ro,2020-02-21
9949266,200,Salcamii,Spike,2141,https://open.spotify.com/track/6iXYKiR11eI3ylr...,ro,2020-02-21

In [33]:
final_df = df.drop_duplicates(['Country', 'Date', 'Position']).reset_index(drop=True)
final_df

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer,The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
11805041,196,ZEZE (feat. Travis Scott & Offset),Kodak Black,2155,https://open.spotify.com/track/0FZ4Dmg8jJJAPJn...,ro,2020-02-21
11805042,197,Tusa,KAROL G,2153,https://open.spotify.com/track/7k4t7uLgtOxPwTp...,ro,2020-02-21
11805043,198,Haos,Azteca,2146,https://open.spotify.com/track/7lt0RpXYlHOigeh...,ro,2020-02-21
11805044,199,stupid,Tate McRae,2143,https://open.spotify.com/track/4k3uABcX9iaGlt5...,ro,2020-02-21
11805045,200,Salcamii,Spike,2141,https://open.spotify.com/track/6iXYKiR11eI3ylr...,ro,2020-02-21

In [34]:
final_df[final_df['URL'].apply(lambda x: not isinstance(x, str))]

          Position Track Name Artist  Streams  URL Country        Date
1077734        135        NaN    NaN     6044  NaN      at  2019-05-17
1607603          8        NaN    NaN     3244  NaN      bg  2020-02-07
1607605         10        NaN    NaN     3131  NaN      bg  2020-02-07
1607609         14        NaN    NaN     3045  NaN      bg  2020-02-07
1607616         21        NaN    NaN     2333  NaN      bg  2020-02-07
1607620         25        NaN    NaN     2197  NaN      bg  2020-02-07
1607624         29        NaN    NaN     2094  NaN      bg  2020-02-07
1607630         35        NaN    NaN     1906  NaN      bg  2020-02-07
1607637         42        NaN    NaN     1713  NaN      bg  2020-02-07
3275247         30        NaN    NaN     5740  NaN      cz  2018-10-17
3275276         59        NaN    NaN     4184  NaN      cz  2018-10-17
3275285         68        NaN    NaN     3876  NaN      cz  2018-10-17
3275309         92        NaN    NaN     3210  NaN      cz  2018-10-17
3544120        103        NaN    NaN   106195  NaN      de  2019-05-17
5434758         81        NaN    NaN     3397  NaN      hk  2017-11-25
5435064        187        NaN    NaN     1997  NaN      hk  2017-11-26
6982956         83        NaN    NaN    78353  NaN      it  2020-02-05
7881487         23        NaN    NaN   123366  NaN      nl  2017-06-30
7881526         62        NaN    NaN    72756  NaN      nl  2017-06-30
7901743         79        NaN    NaN    42943  NaN      nl  2017-10-09
7902015        151        NaN    NaN    22791  NaN      nl  2017-10-10
10247740       102        NaN    NaN     6402  NaN      sg  2017-11-25
10248026       188        NaN    NaN     4197  NaN      sg  2017-11-26
10459036        39        NaN    NaN     1808  NaN      sk  2018-10-17
10459112       115        NaN    NaN     1017  NaN      sk  2018-10-17

In [35]:
final_df.drop(final_df[final_df['URL'].apply(lambda x: not isinstance(x, str))].index, inplace=True)

In [36]:
final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') > 200]

Empty DataFrame
Columns: [Position, Track Name, Artist, Streams, URL, Country, Date]
Index: []

In [37]:
final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') == 0]

Empty DataFrame
Columns: [Position, Track Name, Artist, Streams, URL, Country, Date]
Index: []

In [38]:
final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') < 200]['Country'].unique()

array(['at', 'bg', 'bo', 'cz', 'de', 'do', 'ee', 'gr', 'gt', 'hk', 'hn',
       'hu', 'il', 'is', 'it', 'jp', 'lt', 'lu', 'lv', 'mt', 'ni', 'nl',
       'pa', 'py', 'ro', 'se', 'sg', 'sk', 'sv', 'th', 'uy', 'vn', 'za'],
      dtype=object)

In [39]:
final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') < 50]['Country'].unique()

array(['bg', 'ee', 'gr', 'is', 'lt', 'lu', 'lv', 'mt', 'ni', 'sk'],
      dtype=object)

In [40]:
final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') < 50]

,Position,Track Name,Artist,Streams,URL,Country,Date
1586200,1,Starboy,The Weeknd,1628,https://open.spotify.com/track/5aAx2yezTd8zXrk...,bg,2017-01-01
1586201,1,Starboy,The Weeknd,2040,https://open.spotify.com/track/5aAx2yezTd8zXrk...,bg,2017-01-02
1586202,2,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,1166,https://open.spotify.com/track/5knuzwU65gJK7IF...,bg,2017-01-02
1586203,3,Closer,The Chainsmokers,1092,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,bg,2017-01-02
1586204,4,I Don’t Wanna Live Forever (Fifty Shades Darke...,ZAYN,1088,https://open.spotify.com/track/3NdDpSvN911VPGi...,bg,2017-01-02
...,...,...,...,...,...,...,...
11797961,41,Swish Swish,Katy Perry,1063,https://open.spotify.com/track/2kVHAQKVtczchKc...,ee,2017-06-25
11797962,42,Swalla (feat. Nicki Minaj & Ty Dolla $ign),Jason Derulo,1062,https://open.spotify.com/track/6kex4EBAj0WHXDK...,ee,2017-06-25
11797963,43,Tired,Alan Walker,1039,https://open.spotify.com/track/3b5Li4QKDVBx1x7...,ee,2017-06-25
11797964,44,Issues,Julia Michaels,1025,https://open.spotify.com/track/6D0b04NJIKfEMg0...,ee,2017-06-25
11797965,45,Crying in the Club,Camila Cabello,1021,https://open.spotify.com/track/1SJtlNRJDeYHioy...,ee,2017-06-25

In [41]:
final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') < 50].groupby(['Country','Date']).size().reset_index().rename(columns={0:'count'})

     Country        Date  count
0         bg  2017-01-01      1
1         bg  2017-01-02      4
2         bg  2017-01-03     13
3         bg  2017-01-04      9
4         bg  2017-01-05      9
...      ...         ...    ...
1134      sk  2017-04-17     41
1135      sk  2017-05-06     48
1136      sk  2017-05-07     47
1137      sk  2017-05-08     49
1138      sk  2017-05-10     49

[1139 rows x 3 columns]

In [42]:
poor_data = final_df[final_df.groupby(['Date', 'Country'])['Position'].transform('count') < 50]['Country'].unique().tolist()

In [43]:
good_data = [country for country in final_df['Country'].unique() if country not in poor_data]

In [44]:
len(good_data)

53

In [45]:
len(poor_data)

10

In [46]:
len(final_df['Country'].unique())

63

In [47]:
good_data

['global',
 'us',
 'gb',
 'ar',
 'at',
 'au',
 'be',
 'bo',
 'br',
 'ca',
 'ch',
 'cl',
 'co',
 'cr',
 'cz',
 'de',
 'dk',
 'do',
 'ec',
 'es',
 'fi',
 'fr',
 'gt',
 'hk',
 'hn',
 'hu',
 'id',
 'ie',
 'il',
 'in',
 'it',
 'jp',
 'mx',
 'my',
 'nl',
 'no',
 'nz',
 'pa',
 'pe',
 'ph',
 'pl',
 'pt',
 'py',
 'ro',
 'se',
 'sg',
 'sv',
 'th',
 'tr',
 'tw',
 'uy',
 'vn',
 'za']

In [48]:
poor_data

['bg', 'ee', 'gr', 'is', 'lt', 'lu', 'lv', 'mt', 'ni', 'sk']

In [49]:
final_df.to_csv('ranking_output.csv', index=False)

In [50]:
temp = pd.read_csv('ranking_output.csv')
temp

,Position,Track Name,Artist,Streams,URL,Country,Date
0,1,Starboy,The Weeknd,3135625,https://open.spotify.com/track/5aAx2yezTd8zXrk...,global,2017-01-01
1,2,Closer,The Chainsmokers,3015525,https://open.spotify.com/track/7BKLCZ1jbUBVqRi...,global,2017-01-01
2,3,Let Me Love You,DJ Snake,2545384,https://open.spotify.com/track/4pdPtRcBmOSQDlJ...,global,2017-01-01
3,4,Rockabye (feat. Sean Paul & Anne-Marie),Clean Bandit,2356604,https://open.spotify.com/track/5knuzwU65gJK7IF...,global,2017-01-01
4,5,One Dance,Drake,2259887,https://open.spotify.com/track/1xznGGDReH1oQq0...,global,2017-01-01
...,...,...,...,...,...,...,...
11805016,196,ZEZE (feat. Travis Scott & Offset),Kodak Black,2155,https://open.spotify.com/track/0FZ4Dmg8jJJAPJn...,ro,2020-02-21
11805017,197,Tusa,KAROL G,2153,https://open.spotify.com/track/7k4t7uLgtOxPwTp...,ro,2020-02-21
11805018,198,Haos,Azteca,2146,https://open.spotify.com/track/7lt0RpXYlHOigeh...,ro,2020-02-21
11805019,199,stupid,Tate McRae,2143,https://open.spotify.com/track/4k3uABcX9iaGlt5...,ro,2020-02-21
11805020,200,Salcamii,Spike,2141,https://open.spotify.com/track/6iXYKiR11eI3ylr...,ro,2020-02-21

In [51]:
print(len(final_df['URL'].unique()))

68539